.button:focus,
.button:active:focus,
.button.active:focus,
.button.focus,
.button:active.focus,
.button.active.focus {
  outline: none !important;
}

.button {
  background: transparent;
  font-size: 30px;
  color: #fff;
  border: none;
}

.button:active {
  background: rgb(118, 40, 219);
}

body,
html {
  overflow-x: hidden;
}

.App {
  /* border: 3px solid rgb(73, 73, 73); */
  /* background: rgba(0, 0, 0, 0.2); */
  color: #ffffff;
  padding: 10px;
}
